* {
    animation: fade 0.5s linear;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: #3d688a;
}
/* Terms & Conditions contents */
.termsconditions {
    border: 1px solid #e5e2e2;
    background: #424141;
    height: 200px;
    width: 100%;
    position: fixed;
    bottom:0;
    z-index: 999;
}

.termsconditions_container {
    display: flex;
    padding: 25px 25px;
}

.termswarning {
    color: #f3f0f0;
    width: 75%;
    margin-right: 5%;
    flex-grow: 2;
}

.tcbuttons {
    width: 25%;
    flex-grow: 1;
}

.tcb_items {
    list-style: none;
}

.tcb_item {
    margin: 10px 0;
    padding: 5px 5px;
    text-align: center;
    background-color: #3ca1f4;
}

.tcb_item:hover {
    background-color: #3d688a;
}

.tcb_link {
    font-size: 20px;
    text-decoration: none;
    color: #f3f0f0;
}

/* Terms & Conditions animation variations */

.slidenormal {
    animation: slide 3s alternate linear;
}

.slidefast {
    animation: slide 0.25s alternate linear;
}

.slideglitch {
    animation: slideglitch 0.1s alternate-reverse infinite;
}

@keyframes slide {
    0% {transform:translateY(600px)};
    100% {transform:translateY(-600px)};
}

@keyframes slideglitch {
    100% {transform:translateX(-300px)};
}

/* Navigation bar content */

.navbar {
    background: #242424d5;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar_container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 100px;
}

#navbar_logo {
    background-color: #343232;
    background-image: linear-gradient(to top, #ec681b 0%, #f5b512 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-decoration-color: transparent;

    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.navbar_menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar_item {
    height: 80px;
}

.navbar_links {
    color: #e5e2e2;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar_links:hover {
    color:#ec681b;
    transition: all 0.3s ease;
}

.navbar_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

/* Buttons */

.button {
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #f5b512;
    color: #000
}

.button:hover {
    background: #ec681b;
    transition: all 0.3s ease;
}

/* CSS for the top of the page */

.forefront {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0), 
        rgb(0, 0, 0)), 
        url(../assets/office.png);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 75%;
        align-items: center;
        justify-self: center;
        margin: 0 auto;
        height: 45vh;
        z-index: 1;
        width: 100%;
        max-width: 2600px;
        padding: 50px;
}

.forefront_none {
    background: rgb(255, 255, 255);
}

.forefront_content {
    margin: 50px 0;
    text-align: center;
}

.forefront_content h1 {
    color: #ec681b;
}

.forefront_content h2 {
    color: #d7cece;
}

/* CSS for the main content */

.main {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5), 
        rgb(0, 0, 0)), 
        url(../assets/happyworker.png);
}

.main_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 90vh;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 50px;

}

.main_content h1 {
    font-size: 4rem;
    color:#ec681b;
}

.main_content p {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 700;
    color: #d7cece;
}

.main_btn {
    margin-top: 2rem;
    font-size: 1rem;
    background-image: linear-gradient(to top, #cc2929 0%, #ed8b1c 100%);
    padding: 14px 32px;
    border: none;
    border-radius: 4px;
    color: #d7cece;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
}

.main_btn a {
    position: relative;
    z-index: 2;
    color: #d7cece;
    text-decoration: none;
}

.main_btn:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #cc2929;
    transition: all 0.35s;
    border-radius: 4px;
}

.main_btn:hover {
    color:#d7cece;
}

.main_btn:hover:after {
    width:100%;
}

/* Footer contents */

.footer_container {
    background-color: #353131;
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#footer_logo {
    color: #e1dbdb;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.footer_links {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
}

.footer_link-wrapper {
    display: flex;
}

.footer_link-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px;
    text-align: left;
    width: 160px;
    box-sizing: border-box;
    color: #e1dbdb;
}

.footer_link-items a {
    color: #b8afaf;
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.footer_link-items a:hover {
    color: #ffffff;
}

.social_media_icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;

    height: auto;
    filter: invert(98%) sepia(1%) saturate(1800%) hue-rotate(315deg) brightness(93%) contrast(89%);
}

.social_icon-link {
    color: #e1dbdb;
    width: 100%;
    text-decoration: none;
}

.social_media {
    max-width: 1000px;
    width: 100%;
}

.social_media-wrap {
    color: #e1dbdb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 40px auto 0 auto;
}

.social_icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
}

/* CSS for fading text */

#hidden_01 {
    opacity: 0%;
}

#hidden_01:hover {
    opacity: 100%;
}

/* CSS for page corruption */

.main_none {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0), 
        rgb(0, 0, 0)), 
        url(../assets/happyworker.png);
        background-size: 100% 100%;
        align-items: center;
        justify-self: center;
        margin: 0 auto;
        height: 45vh;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 50px;
}

#tc_goner {
    position:absolute;
    top: 1400px;
    left: 200px;
}

@keyframes fade {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    };
}